<!DOCTYPE HTML>
<html>
<head>
{% block ie %}{% endblock %}
{% block meta %}{% endblock %}
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<link rel="shortcut icon" href="/static/favicon.ico" />
<title>{% block title %}{% endblock %}</title>
{% block header %}{% endblock %}
{% block headbody %}</head>
<body>{% endblock %}
{% block menu-bar %}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block page_title %}{% endblock %}
{% block page_body %}{% endblock %}
{% block footer %}{% endblock %}

</body>
</html>
