{% extends "base_template.html" %}

{% block title %}Home{% endblock %}
{% block header %}
    <link href="/static/detail.css" rel="stylesheet" type="text/css" >
{% endblock %}
{% block menu-bar %}
    {% include "header.html" %}
    {% include "menu-bar.html" %}</div>
{% endblock %}

{% block page_body %}
<h1>Home</h1>
<div class="left">
<p>The Commissioners of Public Works are responsible for a number of areas of activity.<p>

<h2>State Property - Estate Portfolio Management</h2>
<p>The Commissioners are responsibile for the management of a range of properties owned by the state and occupied by various public bodies.</p>

<h2>Flood Risk Management</h2>
<p>The Commissioners of Public Works were appointed by Government as the lead agency for the implementation of the National Flood Risk Management Policy and as competent 
authority for the Floods Directive.  <a href='/frm'>More ...</a></p>

<h2>National Monuments</h2>
<p>The Commissioners own or manage approximately 890 national monuments.</p>


<h2>Historic properties</h2>
<p>The Commissioners own and operate a number of historic properties and visitor attractions.</p>

</div>
<div class="right">
<h2>Tests</h2>
<p>Testing information for the <a href='/test'>system.</a></p>
</div>
{% endblock %}

