{% extends "base_template.html" %}

{% block title %}Map Viewer{% endblock %}
{% block header %}
    <link href="/static/detail.css" rel="stylesheet" type="text/css" >
    <script src="/static/js/ext-3.4.0/adapter/ext/ext-base.js" type="text/javascript"></script>
    <script src="/static/js/ext-3.4.0/ext-all.js"  type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/static/js/ext-3.4.0/resources/css/ext-all.css">
    <script src="/static/js/OpenLayers-2.12/OpenLayers.js" type="text/javascript"></script>
    <script src="/static/js/GeoExt/lib/GeoExt.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/static/js/GeoExt/resources/css/geoext-all-debug.css">
    
<script type="text/javascript">
        var WebMercator = new OpenLayers.Projection("EPSG:3857");
        var WGS84 = new OpenLayers.Projection("EPSG:4326");
        var ING = new OpenLayers.Projection("EPSG:29903");
        var ITM = new OpenLayers.Projection("EPSG:2157");
        var bounds_WM = new OpenLayers.Bounds(-1200000, 6800000, -420000, 7250000);
        
        var mapPanel, tree, treeConfig, dataStore, wmsStore;
        
        treeConfig = [{nodeType: "gx_baselayercontainer"},
                    {nodeType: "gx_overlaylayercontainer",expanded: true}
        ];
        

    Ext.onReady(function() {
        var controls = [new OpenLayers.Control.Navigation(), new OpenLayers.Control.PanZoomBar(),
                        new OpenLayers.Control.NavigationHistory(), new OpenLayers.Control.LayerSwitcher(),
                        new OpenLayers.Control.ScaleLine(), new OpenLayers.Control.Scale($('scale')),
                        new OpenLayers.Control.MousePosition({element: $('location')})
                        ];
        var options = {
                //numZoomLevels: 14,
                units: 'm',
                controls: controls,
                maxExtent: bounds_WM,
                //resolutions: [1000,352.645,176.32242,74.0542,52.896723,35.26448,26.448362,17.632241,8.816121,3.526448,1.763224,0.881612,0.352645],
                //projection: WebMercator
            };
        var map = new OpenLayers.Map(options);
        var layer = new OpenLayers.Layer.OSM();
        var mapfile = '/opt/projects/floodmapsv2/floodmapsv2/floodmapsv2/mapserv.map';
        //server+'/cgi-bin/mapserv?map='+mapfile,
        var wms_server = 'http://10.150.120.48/cgi-bin/mapserv?map='+mapfile;
        var fl_1pc_aep_cs = new OpenLayers.Layer.WMS(
            '1% AEP Fluvial', wms_server,
            {
                //SERVICE: 'WMS', VERSION: '1.1.1', REQUEST: 'GetMap',
                srs: WebMercator,
                transparent: 'true',
                layers: 'Flood_extents_1pc_AEP',
                format: "image/png"
            },
            {isBaseLayer: 'false'}
        );
        
        //map.addLayer(layer);
        

        /*mapPanel = new GeoExt.MapPanel({
            title: 'Map Viewer',
            renderTo: 'gxmap',
            height: 500,
            width: 1024,
            map: map,
            layers: [layer, fl_1pc_aep_cs],
            extent: bounds_WM
        });*/
        
    var viewport = new Ext.Viewport({        
        layout:'border',
        defaults: {
            collapsible: true,
            split: true,
            bodyStyle: 'padding:0px'
        },
        items: [{
            region: 'north',
            height: '60',
            html: '',
            cmargins: '5 0 0 0'
        },{
            title: 'Footer',
            region: 'south',
            height: 150,
            minSize: 75,
            maxSize: 250,
            cmargins: '5 0 0 0'
        },{
            title: 'Navigation',
            region:'west',
            margins: '5 0 0 0',
            cmargins: '5 5 0 0',
            width: 175,
            minSize: 100,
            maxSize: 250
        },{ region: "center",
            id: "mappanel",
            title: "Map",
            xtype: "gx_mappanel",
            map: map,
            layers: [layer, fl_1pc_aep_cs],
            extent: bounds_WM,
            split: true,
            layout: 'fit'
            /*title: 'Main Content',
            collapsible: false,
            region:'center',
            margins: '5 0 0 0'
            id: 'map',
            title: 'Map',
            layout: 'fit',
            xtype: 'mapcomponent',
            map: map*/
        }]}); //end viewport setup

    viewport.doLayout();
        //map.zoomToExtent(bounds_WM); // Web Mercator (Google / OSM projection)
        //alert(wms_server);
    });
</script>
{% endblock %}
{% block menu-bar %}
    {% include "header.html" %}
    {% include "menu-bar.html" %}</div>
{% endblock %}

{% block page_body %}
/*<div id="gxmap"></div>
<div id="scale"></div>
<div id="location"></div>*/
{% endblock %}
