{% extends "base_template.html" %}

{% block title %}Map Viewer{% endblock %}
{% block header %}
    <link href="/static/detail.css" rel="stylesheet" type="text/css" >
    <script src="/static/js/ext-3.4.0/adapter/ext/ext-base.js" type="text/javascript"></script>
    <script src="/static/js/ext-3.4.0/ext-all.js"  type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/static/js/ext-3.4.0/resources/css/ext-all.css">
    <script src="/static/js/OpenLayers-2.12/OpenLayers.js" type="text/javascript"></script>
    <script src="/static/js/GeoExt/lib/GeoExt.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/static/js/GeoExt/resources/css/geoext-all-debug.css">
    
<script type="text/javascript">
        var WebMercator = new OpenLayers.Projection("EPSG:900913");
        var WGS84 = new OpenLayers.Projection("EPSG:4326");
        var ING = new OpenLayers.Projection("EPSG:29903");
        var ITM = new OpenLayers.Projection("EPSG:2157");

    Ext.onReady(function() {

        var map = new OpenLayers.Map();
        var layer = new OpenLayers.Layer.OSM()
        
        map.addLayer(layer);

        new GeoExt.MapPanel({
            renderTo: 'gxmap',
            height: 800,
            width: 1000,
            map: map,
            title: 'Map Viewer'
        });
        
        map.zoomToExtent(new OpenLayers.Bounds(-1200000, 6800000, -420000, 7250000)); // Web Mercator (Google / OSM projection)
    });
</script>
{% endblock %}
{% block menu-bar %}
    {% include "header.html" %}
    {% include "menu-bar.html" %}</div>
{% endblock %}

{% block page_body %}
<div id="gxmap"></div>
{% endblock %}
