<div id="menu">
   <span id="home" class="menubar"><a href="/">Home</a></span>
   <span id="map_link" class="menubar"><a href="/map">Map Viewer</a></span>
   <span id="capabilities" class="menubar"><a href="http://192.168.2.4/cgi-bin/mapserv?map=/opt/projects/floodmapsv2/floodmapsv2/floodmapsv2/mapserv.map&service=wms&request=getcapabilities&version=1.1.1">GetCapabilities</a></span>
   <span id="test_map itm" class="menubar"><a href="http://192.168.2.4/cgi-bin/mapserv?map=/opt/projects/floodmapsv2/floodmapsv2/floodmapsv2/mapserv.map&service=wms&request=getmap&version=1.1.1&bbox=710865.75,750700.9375,724865.9375,756884.6875&width=800&height=800&layers=Flood_extents_1pc_AEP&style=&srs=epsg:2157&format=png">GetMap Test (ITM)</a></span>
   <span id="test_map" class="menubar"><a href="http://192.168.2.4/cgi-bin/mapserv?map=/opt/projects/floodmapsv2/floodmapsv2/floodmapsv2/mapserv.map&service=wms&request=getmap&version=1.1.1&bbox=-681441.0625,7080565.5,-677383.75,7081218.5&width=800&height=800&layers=Flood_extents_1pc_AEP&style=&srs=epsg:3857&format=png">GetMap Test (WebMercator)</a></span>
   <span id="admin" class="menubar"><a href="/admin">Admin</a></span>
