<div id="menu">
   <span id="home" class="menubar"><a href="/">Home</a></span>
   <span id="map_link" class="menubar"><a href="/map">Map Viewer</a></span>
   <span id="capabilities" class="menubar"><a href="http://192.168.2.4/cgi-bin/mapserv?map=/opt/projects/floodmapsv2/floodmapsv2/floodmapsv2/mapserv.map&service=wms&request=getcapabilities&version=1.1.1">GetCapabilities</a></span>
   <span id="test_map" class="menubar"><a href="http://192.168.2.4/cgi-bin/mapserv?map=/opt/projects/floodmapsv2/floodmapsv2/floodmapsv2/mapserv.map&service=wms&request=getmap&version=1.1.1&bbox=-1200000,6800000,-420000,7250000&width=800&height=800&layers=Flood_extents_1pc_AEP&style=&srs=epsg:3857&format=png">GetMap Test</a></span>
   <span id="admin" class="menubar"><a href="/admin">Admin</a></span>
